<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <!-- Logo + nombre -->
    <a routerLink="/home" class="logo d-flex align-items-center">
      <img src="/img/logo.png" alt="StrongFit Logo" style="height: 200px;">
      <h1 class="sitename ms-2 mb-0">StrongFit</h1>
    </a>

    <!-- Menú de navegación -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="active">Nosotros</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/planes" routerLinkActive="active">Planes</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <!-- Botones de acción -->
    <div class="d-flex align-items-center gap-3">
      <a class="btn-getstarted" routerLink="/registro">Inscríbete</a>
      <a class="bi bi-person-fill fs-4" routerLink="/login" title="Mi cuenta"></a>
    </div>

  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer dark-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a routerLink="/home" class="logo d-flex align-items-center"><span class="sitename">StrongFit</span></a>
        <p>Síguenos en redes sociales y forma parte de nuestra comunidad fitness.</p>
        <div class="social-links d-flex mt-4">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-6 footer-links">
        <h4>Link</h4>
        <ul>
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/servicios">Servicios</a></li>
          <li><a routerLink="/planes">Planes</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 footer-contact">
        <h4>Contacto</h4>
        <p class="mt-4"><strong>Teléfono:</strong> +569 XXXX XXXX</p>
        <p><strong>Email:</strong> ejemplo&#64;gmail.com</p>
      </div>
    </div>
  </div>
</footer>
