<header class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl d-flex justify-content-between align-items-center">
    <a routerLink="/" class="logo d-flex align-items-center">
      <img src="src/assets/img/logo.png" alt="StrongFit Logo" style="height: 50px;">
      <h1 class="sitename ms-2 mb-0">StrongFit</h1>
    </a>
    <nav class="navmenu">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
      </ul>
    </nav>
    <div class="d-flex align-items-center gap-3">
      <a class="bi bi-person fs-4" title="Mi cuenta"></a>
      <a routerLink="/login" class="btn btn-secondary">Cerrar sesión</a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer dark-background text-center py-3">
</footer>
